@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;

}


body, html {
  overflow: hidden;
  line-height: 21px;
  font-size: 14px;
}

#root{
  height: 100vh;
}

.MuiPaper-root{
  height:200px;
}

.MuiList-root {
  max-width:200px;
}

.MuiInputBase-root{
  height:32px
}

